<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Artikel | Sanden</title>
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="stylesheet" href="../assets/css/responsive.css">
        <link rel="stylesheet" href="../assets/css/article.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <header>
            <div class="container">
                <div class="header-left">
                    <a class="logo"><img class="logo" src="../assets/images/logo.png"></a>
                </div>
                <div class="header-right" id="topNav">
                    <a href="../index.html">Beranda</a>
                    <a href="../index.html#destination">Destinasi</a>
                    <a href="../index.html#product">Produk</a>
                    <a href="../about.html">Tentang</a>
                    <a href="#">Artikel</a>
                    <a href="javascript:void(0);" class="dropdown-icon" onclick="dropdownNav()">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            </div>
        </header>
        <main>
            <div class="main-wrapper">
                <div class="container" id="destination">
                    <article>
                        <h1>Postingan terbaru</h1>
                        <h3><a href="../articles/wayang-menjaga-alam.html">Wayang Menjaga Alam</a></h3>
                        <p class="non-para">Wayang merupakan salah satu budaya di tanah Jawa yang ceritanya banyak mengandung
                            pelajaran, tak terkecuali tentang menjaga alam. Kisah petualangan Werkudara hingga bertemu
                            Dewa Ruci mengandung pesan-pesan untuk melestarikan alam kita. Dengan bercerita wayang,
                            kita melestarikan budaya sekaligus menanamkan pendidikan karakter pada pendengarnya. Jadi,
                            simak ceritanya yuk!</p>
                        <h3><a href="../articles/dongeng-tanggap-tsunami.html">Dongeng Tanggap Tsunami</a></h3>
                        <p class="non-para">Taukah kamu? Waktu tsunami Aceh 2004, warga Simeulue yang dekat dengan pantai banyak
                            sekali yang selamat. Hal ini karena mereka mengikuti pesan “Hikayat Semong” tentang ciri-ciri
                            tsunami dan bagimana selamat darinya.</p>
                        <h3><a href="../articles/peta-desa-srigading.html">Peta Desa Srigading</a></h3>
                        <p class="non-para">Sebagai desa yang berbatasan dengan laut, Desa Srigading memiliki keindahan alam yang
                            menjadi potensi wisata bagi warga setempat hingga mancanegara. Sebelum ke Srigading, ada
                            baiknya kita mencari tahu terlebih dahulu wisata dan rute apa saja yang bisa kita jelajahi. Nah,
                            ini adalah link peta wisata di Desa Srigading. Selamat menjelajah!</p>
                        <h3><a href="../articles/buku-profil-desa-srigading.html">Buku Profil Desa Srigading</a></h3>
                        <p class="non-para">Untuk menuju desa swasembada, diperlukan penyusunan kebijakan pembangunan
                            berkelanjutan yang baik untuk desa tersebut. Hal ini dimulai dengan pemetaan potensi
                            desa yang ada. Melalui buku ini, Anda diajak mengenal lebih jauh Desa Srigading,
                            sehingga dapat memetakan potensi yang dimiliki desa untuk pemberdayaan
                            masyarakat yang lebih baik.</p>
                        <h3><a href="../articles/majalah-pariwisata.html">Majalah Pariwisata</a></h3>
                        <p class="non-para">Desa Srigading ini merupakan satu dari 12 desa di Kabupaten Bantul yang
                            ditetapkan oleh Dinas Kebudayaan DIY sebagai Desa Budaya dikarenakan banyaknya
                            kegiatan seni budaya bersifat tradisional yang berlangsung di desa tersebut. Oleh
                            karena itu, potensi budaya yang begitu besar dapat menjadi salah satu daya tarik
                            utama Desa Srigading.</p>
                        <h3><a href="../articles/buku-saku-pasca-panen.html">Buku Saku Pasca Panen</a></h3>
                        <p class="non-para">Buku Saku Pasca Panen adalah buku yang memberi informasi lengkap mengenai penanganan produk pertanian pasca panen, mulai dari proses bongkat muat hingga pemasaran produk. Tidak hanya itu, buku saku ini juga berisi tentang prosedur pendaftaran asuransi dan kredit usaha bagi petani untuk melindungi mereka dari kerugian finansial apabila terjadi hal yang tidak diinginkan.</p>
                        <h3><a href="../articles/mahesa-suro.html">Mahesa Suro</a></h3>
                        <p class="non-para">Warga Pantai Samas, Desa Srigading, Kecamatan Sanden, Kabupaten Bantul selalu menggelar ritual Mahesa Suro. Ritual yang sudah berlangsung puluhan tahun silam tersebut, digelar dalam rangka memperingati pergantian tahun baru Islam 1 Muharam 1440 Hijriah atau Tahun Baru Islam.</p>
                        <h3><a href="../articles/merti-dusun.html">Merti Dusun</a></h3>
                        <p class="non-para">Merti Dusun merupakan salah satu bentuk tradisi rasa syukur warga masyarakat kepada Tuhan Yang Maha Esa atas segala rahmat dan limpahan berkat serta rezeki yang. hingga kini masih dilestarikan oleh warga Sanden, Bantul.</p>
                        <h3><a href="../articles/labuhan-jalamina.html">Labuhan Jalamina</a></h3>
                        <p class="non-para">Labuhan Jalamina atau yang kadang disebut Labuhan Nelayan Jalamina merupakan sebuah upacara adat yang dilakukan masyarakat pesisir Pantai Samas Desa Srigading, Sanden, Bantul.</p>
                    </article>
                </div>
            </div>
        </main>
        <footer class="footer-distributed">
            <div class="footer-left">
                <p class="footer-links">
                    <a href="../index.html">Beranda</a>
                    |
                    <a href="../index.html#destination">Destinasi</a>
                    |
                    <a href="../index.html#product">Produk</a>
                    |
                    <a href="#">Tentang</a>
                    |
                    <a href="../views/article.html">Artikel</a>
                </p>
                <p class="footer-company-name">Sanden &copy; 2020</p>
            </div>
            <div class="footer-center">
                <div><p>Kec. Sanden, Kab. Bantul, D. I. Yogyakarta 55763</p></div>
                <div><p><a href="mailto:kec.sanden@bantulkab.go.id">kec.sanden@bantulkab.go.id</a></p></div>
            </div>
            <div class="footer-right">
                <p class="footer-company-about">
                    Tim KKN-PPM <br>
                    Universitas Gadjah Mada <br>
                    2020
                </p>
            </div>
        </footer>
        <script src="../script.js"></script>
    </body>
</html>
