<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Produk | Sanden</title>
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="stylesheet" href="../assets/css/responsive.css">
        <link rel="stylesheet" href="../assets/css/products.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <header>
            <div class="container">
                <div class="header-left">
                    <a class="logo"><img class="logo" src="../assets/images/logo.png"></a>
                </div>
                <div class="header-right" id="topNav">
                    <a href="../index.html">Beranda</a>
                    <a href="../index.html#destination">Destinasi</a>
                    <a href="../index.html#product">Produk</a>
                    <a>Tentang</a>
                    <a href="../views/article.html">Artikel</a>
                    <a href="javascript:void(0);" class="dropdown-icon" onclick="dropdownNav()">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            </div>
        </header>
        <main>
            <div class="top-wrapper">
                <div class="container">
                    <h1>Potret UMKM di Sanden</h1>
                    <p>Produk olahan dan cenderamata lokal yang sayang jika Anda lewatkan.</p>
                </div>
                <div class="btn-wrapper">
                    <a href="#destination" class="btn explore">Pelajari</a>
                </div>
            </div>
            <div class="main-wrapper">
                <div class="container" id="destination">
                    <!-- <div class="heading"><h2>Desa Gadingsari</h2></div> -->
                    <article>
                        <p>Selain memiliki panorama pantai yang indah serta hasil alam yang melimpah, Desa Gadingsari juga memiliki produk olahan dan cenderamata lokal yang sangat sayang jika anda lewatkan. Jika anda sedang berwisata di wilayah Bantul maka jangan lupa untuk memasukkan Desa Gadingsari ke dalam list liburan anda. Selain dapat menikmati indahnya pemandangan pantai dengan rimbunnya pohon cemara, Desa Gadingsari juga menawarkan berbagai macam produk lokal kreasi masyarakat desa. Produk-produk lokal tersebut sangat cocok dijadikan sebagai oleh-oleh untuk orang-orang tersayang atau sebagai memori pengingat jika anda pernah berkunjung ke Desa Gadingsari.</p>
                        <img src="../assets/images/products/digantung.png" class="foto">
                        <p>Desa Gadingsari terletak di Kecamatan Sanden, Bantul. Jaraknya hanya sekitar 12 km dari Kota Bantul dan memiliki akses jalan yang sudah beraspal halus. Produk-produk kreasi masyakarat Desa Gadingsari memiliki berbagai macam jenis, mulai dari makanan hingga pernak-pernik dan kerajinan. Alasan mengapa anda tidak boleh melewatkan berbagai produk lokal dari Desa Gadingsari adalah karena Produk kreasi masyarakat tersebut sebagian besar memanfaatkan hasil alam yang terdapat di Desa Gadingsari. Fakta tersebut yang menjadikan produk lokal Desa Gadingsari menjadi produk yang khas dan “memorable”.</p>
                        <p>Jika anda memiliki hobi ngemil, maka salah satu produk olahan kreasi masyarakat Desa Gadingsari ini cocok sekali untuk anda. Produk tersebut adalah Miroso. Miroso merupakan produk olahan makanan yang memiliki berbagai varian jenis, seperti aneka peyek, makanan dari olahan ikan, dan makanan dari olahan ubi ungu. Rumah produksi Miroso dapat anda jumpai di Dusun Wonoroto Rt 02, Kelurahan Gadingsari, Kecamatan Sanden, Bantul.</p>
                        <img src="../assets/images/products/miroso1.png" class="foto">
                        <p>Jika anda mencari cenderamata untuk mengabadikan pengalaman berwisata anda di Desa Gadingsari maka produk kreasi cumplung kelapa merupakan pilihan yang cocok untuk anda. Cumplung kelapa merupakan kerajinan dari tempurung kelapa. Kerajinan cumplung kelapa ini sangat unik dan cocok dijadikan sebagai cenderamata. Anda dapat menjumpai lokasi produksi kerajinan cumplung kelapa di Dusun Wonorejo I, Kelurahan Gadingsari, Kecamatan Sanden, Bantul.</p>
                        <img src="../assets/images/products/tempurung.png" class="foto">
                        <p>Selain kedua produk lokal yang telah disebutkan diatas, masih terdapat berbagai macam produk kreasi masyarakat Desa Gadingsari yang sayang untuk dilewatkan. Produk-produk tersebut antara lain Kerajinan Angklung, Batik Tulis, Batik Ecoprint, Kuliner Adrem, Kuliner Sago Gulung, Peyek Ciptodiharjo, Intip Tipgar, Jamu Jawa, Gula Jawa Mbah Harto, dan Tempe Mbah Warno.</p>
                    </article>
                </div>
            </div>
            <!-- <div class="main-wrapper">
                <div class="container" id="destination">
                    <div class="heading"><h2>Desa Srigading</h2></div>
                </div>
            </div> -->
        </main>
        <footer class="footer-distributed">
            <div class="footer-left">
                <p class="footer-links">
                    <a href="../index.html">Beranda</a>
                    |
                    <a href="../index.html#destination">Destinasi</a>
                    |
                    <a href="../index.html#product">Produk</a>
                    |
                    <a href="views/about.html">Tentang</a>
                    |
                    <a href="../views/article.html">Artikel</a>
                </p>
                <p class="footer-company-name">Sanden &copy; 2020</p>
            </div>
            <div class="footer-center">
                <div><p>Kec. Sanden, Kab. Bantul, D. I. Yogyakarta 55763</p></div>
                <div><p><a href="mailto:kec.sanden@bantulkab.go.id">kec.sanden@bantulkab.go.id</a></p></div>
            </div>
            <div class="footer-right">
                <p class="footer-company-about">
                    Tim KKN-PPM <br>
                    Universitas Gadjah Mada <br>
                    2020
                </p>
            </div>
        </footer>
        <script src="../script.js"></script>
    </body>
</html>
